.flash.notice {
  color: green;
}
.flash.alert {
  color: red;
}
#error_explanation {
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffe6e6;
}

.tab {
  background-color: #e0f7fa;   
  border: 1px solid #b2ebf2;  
  border-radius: 8px;          
  padding: 10px 15px;         
  margin-bottom: 10px;         
  list-style: none;          
  display: inline-block;               
  align-items: center;        
  transition: background-color 0.3s; 
}

.tab:hover {
  background-color: #b2ebf2;   
}

.tab li {
  margin: 0;                    
}